.app-wrapper {
  display: flex;
  background-image: url("assets/backgrounds/background.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 100vh;
  max-width: 100%;
  padding: 5px;
  flex-direction: column;
  overflow-x: hidden;
}

.header-wrapper {
  border: 0.5px solid #323237;
}

.main-wrapper {
  padding: 10px;
}

@media (max-width: 1024px) and (min-width: 650px) {
  .app-wrapper {
    background-image: url("assets/backgrounds/background_empty.png");
  }

}

@media (max-width: 650px) {
  .app-wrapper {
    height: 100%;
    padding: 0;
    background-image: url("assets/backgrounds/background_mobile.png");
    background-repeat: repeat;
    background-position: center;
    gap: 10rem
  }

  .header-wrapper {
    border: none;
    flex-wrap: wrap;
    flex-direction: row;
    display: flex;
  }

  .main-wrapper {
    padding: 5px;
  }
}
